<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@100;300;400&display=swap" rel="stylesheet">
    <title>#stayPositive | 404</title>
  </head>
  <body>
    <center>
      <img src="https://docs.google.com/drawings/d/e/2PACX-1vRMHAqfwhDx_8zDlQ5fqq1DhyK-ihtoMOWMXS5EwrEz-Oh0EitbKACRjHofNXjoiMa6UTcs1DtOiF29/pub?w=1313&h=245" style="width: 270px; margin-top: 20px;">
      <div style="width: 600px; height: 320px; position: absolute; top: 50%; margin-top: -170px; left: 50%; margin-left: -300px;">
        <h1 style="font-family: open sans; color: #03213a; margin-bottom: 0px;">404. It doesn't look like that page exists.</h1>
        <p style="font-family: roboto; font-weight: 300; margin-top: 10px;width: 500px;">Our site returned a 404 error. That means that you've tried to visit a page that doesn't exist. Return home to see some awesome new posts from Drew!</p>
        <div style="width: 300px; height: 5px; background-color: #03213a; margin: 20px; margin-top: 40px;"></div>
        <button style="width: 85%; height: 40px; background-color: #F34B41; border-radius: 25px; border: none; color: white; font-family: roboto; margin-top: 40px; outline: none; width: 500px;" onclick="window.location = 'https://staypositiveblog--flightdude737.repl.co'">Lets go back home!</button>
      </div>
    </center>
  </body>
</html>